<div class="home-content">
    <div class="home-header">
        <img src="assets/images/logo.png" alt="">
    </div>
    <div class="content-body clearfix">
        <div class="">
            <div class="car-img">
                <img src="assets/images/home-car.png" class="img-fluid">
            </div>
            <div class="info">
                <div class="info-details">
                    <span>سلامتك</span>
                    <span>من سلامة مركبتك</span>
                    <a [routerLink]="[ '/pages/appointment']">حجـز موعـد</a>
                    <a [routerLink]="[ '/pages/edit-appointment']" class="edit">تعديل موعـد</a>
                    <a [routerLink]="[ '/pages/delete-appointment']" class="delete"> إلغاء موعـد</a>
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="imgs">
            <img src="assets/images/2030.svg" alt="img">
            <img src="assets/images/traffic.svg" alt="img">
            <img src="assets/images/takamol.svg" alt="img">
        </div>
        <p>© 2020 SALAMAH. | All Rights Reserved</p>
    </div>
</div>